:root {
  --azulOscuro : #004A6D;
  --azulClaro : #00ABCB;
  --blanco : #FFF;
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

body {
  margin: 0;
}

header, footer {
  background-color: var(--azulOscuro);
  color : var(--blanco);
}

footer {
  position: sticky;
  top: 100vh;
}

.colorList li {
  float: left;
  list-style-type: none;
  padding: 0 20px;
}

.square {
  height: 50px;
  width: 50px;
  margin: auto;
  border: solid 1px;
}

.display {
  display: block;
}

.hide {
  display: none;
}

.collapsed {
  display: none;
}

#table_length label {
  display: inline-flex;
}

#table_length select {
  margin: 0 10px;
}

#table_filter label {
  display: inline-flex;
}

#table_filter input {
  margin: 0 10px;
}
