:root {
  --azulOscuro : #004A6D;
  --azulClaro : #00ABCB;
  --blanco : #FFF;
}

html, body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  min-height: 100vh;
}

body {
  margin: 0;
}

header, footer {
  background-color: var(--azulOscuro);
  color : var(--blanco);
}

footer {
  position: sticky;
  top: 100vh;
}

.colorList li {
  float: left;
  list-style-type: none;
  padding: 0 20px;
}

.square {
  height: 50px;
  width: 50px;
  margin: auto;
  border: solid 1px;
}

.accordion-header {
  --bs-accordion-color: #292621;
  --bs-accordion-bg: #fff;
  --bs-accordion-border-color: var(--bs-border-color);
  --bs-accordion-border-width: 1px;
  --bs-accordion-btn-color: #212529;
  --bs-accordion-btn-focus-border-color: #86b7fe;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25remrgba(13, 110, 253, 0.25);
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #0c63e4;
  --bs-accordion-active-bg: #e7f1ff;
}

.btnTema {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-color: #212529;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
}

.display {
  display: block;
}

.hide {
  display: none;
}

.collapsed {
  display: none;
}

#table_length label {
  display: inline-flex;
}

#table_length select {
  margin: 0 10px;
}

#table_filter label {
  display: inline-flex;
}

#table_filter input {
  margin: 0 10px;
}
